.about {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding: 1vw 8vw;
}
.about-content {
  display: flex;
  justify-content: center;
}
.aboutArea-light,
.aboutArea-dark {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.area-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-left .image-profile img {
  width: 20vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.1);
}
.area-right {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.area-right h1 {
  font-size: var(--normal-text);
}
.area-right h1 span {
  font-size: var(--normal-text);
  font-weight: 300;
}
.area-right p {
  text-align: left;
  font-size: var(--normal-text);
  font-weight: 400;
}
.area-right table {
  text-align: left;
  font-size: var(--normal-text);
}
.area-right table th {
  vertical-align: top;
  padding: 0.1vw;
}
.area-right table td {
  vertical-align: top;
  padding: 0.1vw;
}

/* tablet */
@media screen and (max-width: 768px) {
  .aboutArea-light,
  .aboutArea-dark {
    flex-direction: column;
  }
  .area-right {
    margin-left: 0;
  }
  .area-right h1 {
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  .area-right p {
    margin-bottom: 2vw;
  }
  .area-right table {
    margin-bottom: 4vw;
  }
  .area-right .btn {
    align-self: center;
  }
}
/* mobile */
@media screen and (max-width: 425px) {
  .area-left .image-profile img {
    width: 35vw;
    height: 45vw;
  }
}
