.card {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.card-img img {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.card-name {
  font-size: 1em;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.card-link button {
  background: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 0.5em;
  color: gray;
}
