#contact-card {
  height: auto;
  border-radius: 20px;
  padding: 1vw 8vw;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact-card:hover {
  box-shadow: rgba(109, 109, 151, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#contact-card .contact-icon {
  font-size: var(--extra-text);
}
#contact-card .contact-name {
  font-size: var(--normal-text);
  font-weight: 600;
  margin-bottom: 0.5vw;
}

#contact-card .contact-detail {
  font-size: var(--small-text);
  margin-bottom: 1vw;
}
