.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2vw;
}
.home-content h3 {
  font-size: var(--normal-text);
}
.home-content h1 {
  font-size: var(--extra-text);
  margin-bottom: 2vw;
}
.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-image img {
  width: 25vw;
  height: 25vw;
  background: white;
  border: 2vw solid white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  object-fit: contain;
}
