.skill {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vw;
}
