.workshop {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--normal-padding);
}
.workshop-link {
  display: flex;
  justify-content: center;
}
.workshop-card-area {
  margin: var(--normal-margin);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2vw;
}
.activeButton {
  font-weight: 800;
}
.notActiveButton {
  font-weight: normal;
}
/* tablet */
@media screen and (max-width: 768px) {
  .workshop-card-area {
    grid-template-columns: auto auto;
  }
}
/* mobile */
@media screen and (max-width: 425px) {
  .workshop-card-area {
    grid-template-columns: auto;
    grid-gap: 4vw;
  }
  .workshop-link {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
