.workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 3em;
}
.workshop .workshop-topic {
  margin: 3em auto;
}
.workshop .workshop-link button {
  margin: 0 0.5em 2em 0.5em;
  padding: 8px 20px;
  border-radius: 10px;
  background: white;
  border: 3px solid black;
  border-color: rgba(211, 211, 211, 0.862);
  font-size: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: all 0.2s ease;
}

.workshop .workshop-link button:hover {
  border: 3px solid black;
  border-color: black;
  font-weight: bold;
}
.workshop .workshop-card-area {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}
