* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
li {
  color: black;
}

/* setting responsive front-size padding margin */
body {
  --extra-text: calc(26px + 0.390625vw);
  --big-text: calc(20px + 0.390625vw);
  --normal-text: calc(15px + 0.390625vw);
  --small-text: calc(12px + 0.390625vw);

  --normal-padding: 2vw;
  --large-padding: 4vw;
  --extra-padding: 6vw;

  --normal-margin: 2vw;
  --large-margin: 4vw;
  --extra-margin: 6vw;
}
@media (min-width: 768px) {
  :root {
    --extra-text: calc(38px + 0.390625vw);
    --big-text: calc(22px + 0.390625vw);
    --normal-text: calc(18px + 0.390625vw);
    --small-text: calc(14px + 0.390625vw);
  }
}
@media (min-width: 1024px) {
  :root {
    --extra-text: calc(39px + 0.390625vw);
    --big-text: calc(23px + 0.390625vw);
    --normal-text: calc(19px + 0.390625vw);
    --small-text: calc(15px + 0.390625vw);
  }
}
@media (min-width: 1280px) {
  :root {
    --extra-text: calc(30px + 0.390625vw);
    --big-text: calc(24px + 0.390625vw);
    --normal-text: calc(20px + 0.390625vw);
    --small-text: calc(16px + 0.390625vw);
  }
}

.btn button {
  font-size: var(--normal-text);
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
  margin-right: 0.5vw;
  border-radius: 20px;
  border: 2px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.896);
}
.btn button a {
  text-decoration: none;
}
.btn button:last-child {
  margin-right: 0;
}
.btn button:hover {
  cursor: pointer;
  border: 2px solid gray;
  font-weight: 600;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.activeButton {
  font-weight: 800;
}
.notActiveButton {
  font-weight: normal;
}

/* header in each section */
.header h1 {
  font-size: var(--extra-text);
  text-transform: uppercase;
  padding-top: 8vw;
  padding-bottom: var(--large-padding);
}

/* button on card */
.link button {
  font-size: var(--small-text);
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 0.5vw 2vw;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.7);
}
.link button a {
  text-decoration: none;
}
.link button:hover {
  font-weight: 800;
}

/* setting mode */
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: #090d22;
  color: white;
}
.nav-light,
.footer-light {
  background-color: white;
}
.nav-dark,
.footer-dark {
  background-color: hsla(0, 100%, 100%, 0.09);
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
}
.cardWorkshop-light,
.cardSkill-light,
.cardContact-light,
.aboutArea-light {
  background-color: white;
}
.cardWorkshop-dark,
.cardSkill-dark,
.cardContact-dark {
  background-color: hsla(0, 100%, 100%, 0.15);
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      16px 24px 2px hsla(0, 0%, 0%, 0.14),
    0px 6px 30px 5px hsla(0, 0%, 0%, 0.12),
    0px 8px 10px -5px hsla(0, 0%, 0%, 0.2);
}

/* responsive on mobile */
@media screen and (max-width: 425px) {
  .btn button {
    padding: 1vw 4vw;
  }
}
